{% for notification in app.session.get('notifications') %}
    {% if notification.readed is same as(0) %}
         <li>
            <a href="{{ path('app_read_notification', {'id': notification.id, 'dealId': notification.deal.id}) }}">
                <span class="dropdown-item notification-item">{{ notification.description }}</span>
            </a>
        </li>
        <hr class="text-white">
    {% endif %}
{% endfor %}