* {
    &:disabled {
        cursor: not-allowed;
    }
}
.shape-circle {
    border-radius: 50vh !important;
}

.bg-darkgrey {
    background-color: $darkgrey;
}

.wrapper-center {
    width: 100%;
    max-width: 65vw;
}

.btn-primary {
    background-color: #5d5f62;
    border-color: #5d5f62;
    &:hover {
        background-color: #868789;
        border-color: #868789;
    }
}