@import "abstracts/variables";
@import "abstracts/globals";
@import "base/reset";
@import "base/typography";
@import "components/buttons";
@import "components/rating";
@import "layouts/footer";
@import "layouts/forms";
@import "layouts/header";
@import "pages/home";
@import "pages/login";
@import "pages/deal";
@import "pages/account";

.deal{
    font-size: 12px;
    h2 {
        font-size: 14px;
        font-weight: bold;
    }
}