.wrapper-login {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 50vw;
    display: flex;
    align-items: center;
    background-color: #35373b;
    .wrapper-register {
        color: $white;
        margin: 0 50px;
        .register-title {

        }
    }
}