.navbar {
    * {
        font-size: 14px;
    }

    .dropdown-menu {
        background-color: #1d1f20;
        border-color: #1d1f20;
        position: absolute;
        top: 44px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 10px 0;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3); 
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);

        .dropdown-item {
            font-weight: 700;
            color: hsla(0, 0%, 100%, 0.8);
            &:hover {
                color: $white;
                background-color: #1d1f20;
            }
        }
    }

    .navbar-menu {
        .logo {
            width: 156px;
        }

        .nav-link {
            font-weight: 700;
            color: hsla(0, 0%, 100%, 0.8);
            &:hover {
                color: $white;
            }
        }

        .menu-button {
            position: relative;
            padding: 0.32rem 1rem;
            border: 2px solid transparent;
            &:hover {
                background-color: #5d5f62;
            }

            &::after {
                margin-left: 0.5em;
            }

            &:active {
                opacity: .5;
                border-color: #5d5f62;
            }

            &.show {
                background-color: #868789;
                border-color: #868789;
                color: $white;
                &:hover {
                    border-color: #9e9fa1;
                }
            }
        }
    }

    .navbar-utilities {
        .form-control {
            width: 300px;
            position: relative;
            padding-left: 40px;
            color: #8f949b;
        }

        #notifications {
            list-style: none;
            a {
                background-color: #1d1f20;
                width: 35px;
                height: 35px;

                &:hover {
                    background-color: #5d5f62;
                    border-color: #5d5f62;
                }

                i {
                    position: relative;
                    left: 23%;
                    top: 4%;
                    font-size: 20px;
                }

                .badge {
                    top: -17px;
                    font-size: 10px;
                }
            }
        }

        .nav-item {
            list-style: none;

            .btn {
                padding-left: 35px;
                font-weight: bold;
                color: $white;
                border: 2px solid transparent;
                transition: all .2s ease-in-out;

                i {
                    transform: translateX(-160%) translateY(-50%);
                }
            }

            .btn-login {
                background-color:#ffffff1a;
                &:hover {
                    box-shadow: 0 0 0 1px #5d5f62;
                    background-color: #5d5f62;
                }
            }

            .btn-logout {
                background-color: #5d5f62;
            }

            .btn-post {
                background-color: $darkorange;
                &:hover {
                    box-shadow: 0 0 0 1px lighten($darkorange, 10%);
                    background-color: lighten($darkorange, 10%);
                }
            }
            
            .btn-account {
                opacity: .8;
                transition: all .2s ease-in-out;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .icon {
            color: $white;
            position: absolute;
            top: 50%;
            font-size: 16px;
        }
        .search-icon {
            color: #8f949b;
            transform: translateX(80%) translateY(-50%);
        }
    }
}

.submenu {
    background-color: $white;
    border-bottom: 1px solid #d1d5db;
    .nav-link {
        color: #63686d;
        font-weight: 700;
        font-size: .875rem;
        padding-top: 14px;
        padding-bottom: 14px;
        &:hover {
            color: $darkorange;
        }
        &.active {
            border-bottom: 3px solid $darkorange;
        }
    }
}

.user-bar {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .user-details {
    font-size: 14px;
  }
  
  .user-name {
    font-weight: bold;
    margin: 0;
  }
  
  .user-account-created,
  .user-status {
    margin: 0;
    color: #888888;
  }
