.navbar {
    .navbar-menu {
        .logo {
            width: 156px;
        }

        .nav-link {
            font-size: .875rem;
            font-weight: 700;
            color: hsla(0, 0%, 100%, 0.8);

            :hover {
                color: #fff;
            }
        }
    }
}